<aside class="sidebar">
  <ul>
    <li>
      <!-- Main Menu Item -->
      <a href="javascript:void(0)" (click)="toggleSubMenu('Buttons')">Buttons <span class="arrow" [class.open]="activeSubmenu === 'Buttons'">&#9660;</span></a>
      <!-- Submenu -->
      <ul *ngIf="activeSubmenu === 'Buttons'" class="submenu">
        <li><a href="/basicbutton">Basic Button</a></li>
        <li><a href="/iconbutton">Icon Button</a></li>
        <li><a href="/buttongroup">Button Group</a></li>
        <li><a href="/splitbutton">Split Button</a></li>
      </ul>
    </li>
    <li>
      <!-- Main Menu Item -->
      <a href="javascript:void(0)" (click)="toggleSubMenu('Input&Forms')">Input&Forms<span class="arrow" [class.open]="activeSubmenu === 'Input&Forms'">&#9660;</span></a>
      <!-- Submenu -->
      <ul *ngIf="activeSubmenu === 'Input&Forms'" class="submenu">
        <li><a href="/textbox">Textbox</a></li>
        <li><a href="/textarea">Text Area</a></li>
        <li><a href="/checkbox">Checkbox</a></li>
        <li><a href="/radiobutton">Radio Button</a></li>
        <li><a href="/dropdown">Dropdown</a></li>
        <li><a href="/switch">Toggle Button</a></li>
        <li><a href="/slider">Slider</a></li>
        <li><a href="/datepicker">Date Picker</a></li>
        <li><a href="/fileupload">File Upload</a></li>
      </ul>
    </li>
    <li>
      <!-- Main Menu Item -->
      <a href="javascript:void(0)" (click)="toggleSubMenu('Feedbacks')">Feedbacks<span class="arrow" [class.open]="activeSubmenu === 'Feedbacks'">&#9660;</span></a>
      <!-- Submenu -->
      <ul *ngIf="activeSubmenu === 'Feedbacks'" class="submenu">
        <li><a href="/alerts">Alerts</a></li>
        <li><a href="/snackbar">Snackbar</a></li>
        <li><a href="/progressbar">Progress Bar</a></li>
      </ul>
    </li>
    <li>
      <!-- Main Menu Item -->
      <a href="javascript:void(0)" (click)="toggleSubMenu('Layouts')">Layouts<span class="arrow" [class.open]="activeSubmenu === 'Layouts'">&#9660;</span></a>
      <!-- Submenu -->
      <ul *ngIf="activeSubmenu === 'Layouts'" class="submenu">
        <li><a href="/cards">Cards</a></li>
        <li><a href="/modal">Modal</a></li>
        <li><a href="/accordian">Accordian</a></li>
        <li><a href="/tabs">Tabs</a></li>
        <li><a href="/tooltip">Tooltip</a></li>
        <li><a href="/divider">Divider</a></li>
        <!-- <li><a href="/sidebar">Sidebar</a></li> -->
      </ul>
    </li>
    <li>
      <!-- Main Menu Item -->
      <a href="javascript:void(0)" (click)="toggleSubMenu('Navigations')">Navigations<span class="arrow" [class.open]="activeSubmenu === 'Navigations'">&#9660;</span></a>
      <!-- Submenu -->
      <ul *ngIf="activeSubmenu === 'Navigations'" class="submenu">
        <li><a href="/breadcrumb">Breadcrumb</a></li>
        <li><a href="/stepper">Stepper</a></li>
        <li><a href="/navbar">Navbar</a></li>
        <!-- <li><a href="/sidebar">Sidebar</a></li> -->
      </ul>
    </li>
    <li>
      <!-- Main Menu Item -->
      <a href="javascript:void(0)" (click)="toggleSubMenu('Data')">Data<span class="arrow" [class.open]="activeSubmenu === 'Data'">&#9660;</span></a>
      <!-- Submenu -->
      <ul *ngIf="activeSubmenu === 'Data'" class="submenu">
        <li><a href="/grid">Grid</a></li>
        <li><a href="/treeview">Treeview</a></li>
        <li><a href="/avatar">Avatar</a></li>
        <li><a href="/badge">Badge</a></li>
        <li><a href="/chip">Chip</a></li>
        <!-- <li><a href="/sidebar">Sidebar</a></li> -->
      </ul>
    </li>
    <li>
      <!-- Main Menu Item -->
      <a href="javascript:void(0)" (click)="toggleSubMenu('Media')">Media<span class="arrow" [class.open]="activeSubmenu === 'Media'">&#9660;</span></a>
      <!-- Submenu -->
      <ul *ngIf="activeSubmenu === 'Media'" class="submenu">
        <li><a href="/carousal">Carousal</a></li>
        <li><a href="/imageview">Image-View</a></li>
        <li><a href="/videoplayer">Video-player</a></li>
        <li><a href="/draglist">Drag-List</a></li>
      </ul>
    </li>
  </ul>
</aside>
