<aside class="sidebar">
  <ul>
    <li>
      <!-- Main Menu Item -->
      <a href="javascript:void(0)" (click)="toggleSubMenu('Buttons')">Buttons <span class="arrow" [class.open]="activeSubmenu === 'Buttons'">&#9660;</span></a>
      <!-- Submenu -->
      <ul *ngIf="activeSubmenu === 'Buttons'" class="submenu">
        <li><a href="/basicbutton">Basic Button</a></li>
        <li><a href="/iconbutton">Icon Button</a></li>
        <li><a href="/buttongroup">Button Group</a></li>
        <li><a href="/splitbutton">Split Button</a></li>
      </ul>
    </li>
    <li>
      <!-- Main Menu Item -->
      <a href="javascript:void(0)" (click)="toggleSubMenu('Input&Forms')">Input&Forms<span class="arrow" [class.open]="activeSubmenu === 'Input&Forms'">&#9660;</span></a>
      <!-- Submenu -->
      <ul *ngIf="activeSubmenu === 'Input&Forms'" class="submenu">
        <li><a href="/textbox">Textbox</a></li>
        <li><a href="/textarea">Text Area</a></li>
        <li><a href="/checkbox">Checkbox</a></li>
        <li><a href="/radiobutton">Radio Button</a></li>
        <li><a href="/dropdown">Dropdown</a></li>
        <li><a href="/switch">Toggle Button</a></li>
        <li><a href="/slider">Slider</a></li>
        <li><a href="/datepicker">Date Picker</a></li>
        <li><a href="/fileupload">File Upload</a></li>
      </ul>
    </li>
  </ul>
</aside>
