<div class="main-container">
    <h1 class="main-heading">Giggly Video-player Component</h1>
    <p class="description">
        The Giggly Video Player is a sleek, customizable component designed for embedding and controlling videos
        effortlessly within Angular applications. Built with the Giggly design philosophy in mind—playful yet
        professional—it ensures a polished viewing experience that fits seamlessly into your UI.
    </p>
    <div class="tabs-container">
        <!-- Tabs -->
        <div class="tabs">
            <button class="tab-button" [class.active]="activeTab === 'preview'" (click)="setActiveTab('preview')">
                Preview
            </button>
            <button class="tab-button" [class.active]="activeTab === 'usage'" (click)="setActiveTab('usage')">
                Usage Code
            </button>
        </div>

        <!-- Tab Content -->
        <div class="tab-content">
            <!-- Button Preview Tab -->
            <div *ngIf="activeTab === 'preview'">
                <div class="button-preview">
                    <giggly-video-player src="test.mp4" poster="C1.jpg" [autoplay]="false" [muted]="false"
                        [loop]="false" [controls]="true">
                    </giggly-video-player>
                </div>
            </div>

            <!-- Usage Code Tab -->
            <div *ngIf="activeTab === 'usage'">
                <h2>How to Use</h2>
                <pre class="code-container">
              <code class="code-block">
                &lt;giggly-video-player src="test.mp4" poster="C1.jpg" [autoplay]="false" [muted]="false" [loop]="false" [controls]="true"&gt;&lt;/giggly-video-player&gt;
              </code>
            </pre>
            </div>

        </div>
    </div>
</div>