<div class="main-container">
    <h1 class="main-heading">Giggly Radio Button</h1>
    <p class="description">
        The Giggly Radio Button component is a customizable and playful solution for selecting a single option from a
        group. Designed to align with the fun yet professional theme of the Giggly UI library, it offers an engaging
        user experience with flexible styling and dynamic functionality.
    </p>
    <div class="tabs-container">
        <!-- Tabs -->
        <div class="tabs">
            <button class="tab-button" [class.active]="activeTab === 'preview'" (click)="setActiveTab('preview')">
                Button Preview
            </button>
            <button class="tab-button" [class.active]="activeTab === 'usage'" (click)="setActiveTab('usage')">
                Usage Code
            </button>
        </div>

        <!-- Tab Content -->
        <div class="tab-content">
            <!-- Button Preview Tab -->
            <div *ngIf="activeTab === 'preview'">
                <h2>Button Preview</h2>
                <div class="button-preview">

                    <giggly-radio-group [options]="options" [wobbleOnHover]="true" [bounceOnSelect]="true"
                        [showSparkles]="true" (giggle)="onGiggle($event)" [(ngModel)]="selectedValue">
                    </giggly-radio-group>
                </div>
            </div>

            <div *ngIf="activeTab === 'usage'">
                <giggly-tabs [activeTabIndex]="0" style="width: 100%;">
                    <giggly-tab name="HTML">
                        <pre>
&lt;giggly-button (onClick)="handleClick()" variant="primary"&gt;Primary Button&lt;/giggly-button&gt;
&lt;giggly-button variant="secondary"&gt;Secondary Button&lt;/giggly-button&gt;
&lt;giggly-button variant="danger"&gt;Danger Button&lt;/giggly-button&gt;
&lt;giggly-button variant="bubbly"&gt;Bubbly Button&lt;/giggly-button&gt;
&lt;giggly-button variant="bouncy"&gt;Bouncy Button&lt;/giggly-button&gt;
&lt;giggly-button [variant]="'primary'" [disabled]="true"&gt;Disabled Button&lt;/giggly-button&gt;
&lt;giggly-button variant="playful"&gt;Playful Button&lt;/giggly-button&gt;
&lt;giggly-button size="small"&gt;Small Button&lt;/giggly-button&gt;
&lt;giggly-button size="medium"&gt;Medium Button&lt;/giggly-button&gt;
&lt;giggly-button size="large"&gt;Large Button&lt;/giggly-button&gt;
                        </pre>
                    </giggly-tab>

                    <giggly-tab name="Component">
                        <pre>handleClick() &#123; alert('Giggly Button Clicked!'); &#125;</pre>
                    </giggly-tab>
                </giggly-tabs>
            </div>
        </div>
    </div>
</div>